[req]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
O = Homelab
CN = dashboard.home.arpa

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = dashboard.home.arpa
DNS.2 = portainer.home.arpa
DNS.3 = kuma.home.arpa
DNS.4 = prometheus.home.arpa
DNS.5 = grafana.home.arpa

[server_ext]
subjectAltName = @alt_names
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
